#header{
    background-color:#333 ;
    color: white;
    font-size: 2rem;
    padding-left: 2rem;
  }

  .upr-main h1{
      color:  #4d94d0;
  }

  .list-elem{
      padding-left: 3rem;
  }

  .list-elem li:nth-child(even){
    list-style-type:circle;
    margin-left: 2rem;
    padding-top: .5rem;
}

.list-elem li:nth-child(odd){
    margin-top: 3rem;
}
